<div id="middle_banner" class="banner">
  <div class="bannerLinks">
    <div class="bannerLinkContainer">
      <%= link_to titled_image_tag('learn_rugui.png', :title => t('interface.pages.home.banner.documentation.title')), documentation_url, :title => t('interface.pages.home.banner.documentation.title') %>
      <p class="caption"><%= link_to t('interface.pages.home.banner.documentation.link'), documentation_url, :title => t('interface.pages.home.banner.documentation.title') %></p>
    </div>
    <div class="bannerLinkContainer">
      <%= link_to titled_image_tag('get_rugui.png', :title => t('interface.pages.home.banner.download.title')), download_url, :title => t('interface.pages.home.banner.download.title') %>
      <p class="caption"><%= link_to t('interface.pages.home.banner.download.link'), download_url, :title => t('interface.pages.home.banner.download.title') %></p>
    </div>
    <div class="bannerLinkContainer">
      <%= link_to titled_image_tag('join_rugui.png', :title => t('interface.pages.home.banner.community.title')), community_url, :title => t('interface.pages.home.banner.community.title') %>
      <p class="caption"><%= link_to t('interface.pages.home.banner.community.link'), community_url, :title => t('interface.pages.home.banner.community.title') %></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
