<div class="questionAnswerContainer">
  <div class="questionAnswerWrapper">
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.what') %></h2>
      <p class="answer">
        RuGUI is a MVC framework which helps you write desktop applications in
        a simple and easy way.
      </p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.why') %></h2>
      <p class="answer">
        Because you want to focus on writing your application, you want to
        follow conventions and do as little configuration as possible.
      </p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.when') %></h2>
      <p class="answer">
        Whenever you need to quickly create a prototype, or even big
        applications, RuGUI will help you organize your code and make it very
        clean and simple.
      </p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.where') %></h2>
      <p class="answer">
        RuGUI runs on Windows, Linux and Mac. In fact, anywhere a
        <%= link_to 'Ruby/Gtk', 'http://ruby-gnome2.sourceforge.jp/' %> or
        <%= link_to 'Ruby/Qt', 'http://techbase.kde.org/Development/Languages/Ruby' %>
        application would run, RuGUI runs too!
      </p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.who') %></h2>
      <p class="answer">
        RuGUI was created by <%= link_to 'Vicente Mundim', 'http://twitter.com/vicentemundim' %>,
        highly inspired by <%= link_to 'Ruby on Rails', 'http://rubyonrails.org' %>
        framework. It has other
        <%= link_to 'contributors', 'http://wiki.github.com/rugui/rugui/contributors' %>,
        and you can be the next one!
      </p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.how') %></h2>
      <p class="answer">
        It is very simple to install RuGUI, just follow the
        <%= link_to 'instrutctions', 'http://wiki.github.com/rugui/rugui/installation-instructions' %>
        for your plataform.
      </p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.how_much') %></h2>
      <p class="answer">
        Ahm.... Nothing! Really, RuGUI is released as LGPL, which means you can
        use it for anything, even commercial software without license fees or
        royalties.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
