<%- metatags_content_for(:home) -%>

<div class="pageDescription">
  <%= titled_image_tag 'logo_rugui.png', :title => t('interface.logo.title'), :width => 167, :height => 101, :id => 'logo' %>
  <h1 class="title"><%= t('interface.pages.home.title') %></h1>
  <p class="description"><%= t('interface.pages.home.description') %></p>
</div>

<%= render :partial => 'banner' %>
<%= render :partial => 'questions_answers' %>
