<%- metatags_content_for(:home) -%>

<div class="pageDescription">
  <%= titled_image_tag 'logo_rugui.png', :title => t('interface.logo.title'), :width => 167, :height => 101, :id => 'logo' %>
  <h1 class="title"><%= t('interface.pages.home.title') %></h1>
  <p class="description"><%= t('interface.pages.home.description') %></p>
</div>

<div id="middle_banner" class="banner">
  <div class="bannerLinks">
    <div class="bannerLinkContainer">
      <%= link_to titled_image_tag('learn_rugui.png', :title => t('interface.pages.home.banner.documentation.title')), documentation_url, :title => t('interface.pages.home.banner.documentation.title') %>
      <p class="caption"><%= link_to t('interface.pages.home.banner.documentation.link'), documentation_url, :title => t('interface.pages.home.banner.documentation.title') %></p>
    </div>
    <div class="bannerLinkContainer">
      <%= link_to titled_image_tag('get_rugui.png', :title => t('interface.pages.home.banner.download.title')), download_url, :title => t('interface.pages.home.banner.download.title') %>
      <p class="caption"><%= link_to t('interface.pages.home.banner.download.link'), download_url, :title => t('interface.pages.home.banner.download.title') %></p>
    </div>
    <div class="bannerLinkContainer">
      <%= link_to titled_image_tag('join_rugui.png', :title => t('interface.pages.home.banner.community.title')), community_url, :title => t('interface.pages.home.banner.community.title') %>
      <p class="caption"><%= link_to t('interface.pages.home.banner.community.link'), community_url, :title => t('interface.pages.home.banner.community.title') %></p>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="questionAnswerContainer">
  <div class="questionAnswerWrapper">
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.what') %></h2>
      <p class="answer"><%= t('interface.pages.home.answer.what') %></p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.why') %></h2>
      <p class="answer"><%= t('interface.pages.home.answer.why') %></p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.when') %></h2>
      <p class="answer"><%= t('interface.pages.home.answer.when') %></p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.where') %></h2>
      <p class="answer"><%= t('interface.pages.home.answer.where') %></p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.who') %></h2>
      <p class="answer"><%= t('interface.pages.home.answer.who') %></p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.how') %></h2>
      <p class="answer"><%= t('interface.pages.home.answer.how') %></p>
    </div>
    <div class="questionAnswer">
      <h2 class="question"><%= t('interface.pages.home.question.how_much') %></h2>
      <p class="answer"><%= t('interface.pages.home.answer.how_much') %></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
